*{
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial;
    background-color: #eae8e5;
    color: #26ABA7;
}
li{
    list-style-type: none;
    display: inline-block;
}
a{
    text-decoration: none;
    padding: 5px;
    font-weight: 400;
}
a:hover{
    color: #00BF63;
    font-weight: bolder;
}
nav{
    display: flex;
    border-radius:  50% ;
    padding: 10px;
    align-items: center;
    font-weight: 500;
}

header{
    padding: 10px;  
    font-weight: 400;
}
.menu{
    display: flex;
    justify-content: space-around;
}
hr{
    width: (100% - 40px);
    border: 3px solid #BE3892;
    margin: 0 50px;
}
section.img-home{
    margin-top: 10px;
    border: 8px solid black;
    display: flex;
    justify-content: center;
}
img.img-home{
    width: 100%;
    height: 260px;
    margin: 0 50px;
}
section.navigation{
    width: (100% - 40px);
    margin: 20px 50px 0 50px;
    display: flex;
    justify-content: space-evenly;
    border: yellow solid 7px;
}
article{
    width: 34%;
}
p{
    color:  #00BF63;
}
.button{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 10px;
    
}
button{
    border: #BE3892 solid 5px;
}
section.three-images{
    border: rosybrown solid 8px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 40%;

}
img.image-generator{
    width: 30%;
}
article{
    text-align: justify;
    border: 6px orangered solid;
}

footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}