
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #26aba7;
    color: #fff;
    padding: 20px 0;
    text-align: center;

header{
    padding: 10px;  
    font-weight: 400;
}
.menu{
    display: flex;
    justify-content: space-around;
}

}
nav{
    display: flex;
    border-radius:  50% ;
    padding: 10px;
    align-items: center;
    font-weight: 500;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Utiliza o flexbox para organizar os itens lado a lado */
    justify-content: center; /* Centraliza os itens horizontalmente */
}

nav ul li }
li{
    list-style-type: none;
    display: inline-block;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: 0;
}
nav a:hover {
    color: #6e214e;
}

h1, h2 {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
}

img {
    float: left;
    margin-right: 0px;
    max-width: 30px;
}

p {
    margin-bottom: 50px;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}

