.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    align-items: center;
    gap: 10px; /* Espaçamento entre os itens do menu */
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #26aba7;
    font-size: 18px; /* Tamanho da fonte dos itens do menu */
}


.nav-list li a:hover {
    background-color: #6e214e;
}

/* Estilizando o texto ao lado da logo */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 100px;
    margin-right: 10px;
}

.logo span {
    color: #26aba7;
    font-size: 24px; /* Tamanho da fonte do texto ao lado da logo */
    font-weight: bold;
}

/* Estilos adicionais para os quem somos */
h1, h2 {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
}

img {
    float: left;
    margin-right: 0px;
    max-width: 200px;
}
